body {
  background-color: rgb(54, 53, 53);
  margin: 0;
  font-family: "Press Start 2P", sans-serif;
  text-align: center;
  color: #eee;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

button:hover {
  background-color: #ccc;
}
